<div class="row">
  <div class="col-md-12">
    <div class="alert alert-info" role="alert">
      Prepare three or more months of heating (electric or gas) bills.
    </div>
  </div>
</div>

<form role="form" name="form"novalidation>
<div class="row">
  <div class="col-md-8">
    <div class="form-group">
      <!-- Residence options --> 
      <label for="building-type"> What type of property would you like to assess? </label> </br>
      <label class="radio-inline" ng-repeat="building_type in building_types">
        <input type="radio" name="building-type" value={{building_type.id}} ng-model="formCtrl.building_type" required>
        <img src="img/{{building_type.id}}.png" title={{building_type.name}}>
      </label>
    </div>

    <!-- Bill type -->
    <div class="form-group">
      <label> How is your building or home heated? </label> </br>
      <label class="radio-inline" ng-repeat="energy_type in energy_types">
        <input type="radio" name="energy-type" value="{{energy_type.id}}" ng-model="formCtrl.energy_type" required>
        <img src="img/{{energy_type.id}}.png" title="{{energy_type.name}}">
      </label>
    </div>
  </div>
  <div class="col-md-4 well">
    <p>
      <button type="button" class="btn btn-info center-block" ng-click="formCtrl.helpImageToggle()"
          ng-class="{'active': formCtrl.helpImage}" ng-show="formCtrl.isElectric() || formCtrl.isGas()">Help</button>
    </p>
    <div ng-show="formCtrl.helpImage && formCtrl.isElectric()">
      <h3>Your electric bill</h3>
      <img src="helpimgs/TorontoydroBill_Page1.png" class="img-responsive" alt="Toronto Hydro Bill">
      <p>Enter the information from each row in the highlighted section into separate tiers below. If you have a smart metre, each on-peak, off-peak and mid-peak usages
        should be entered as their own tier.
      </p>
    </div>
    <div ng-show="formCtrl.helpImage && formCtrl.isGas()" >
      <h3>Your gas bill</h3>
      <img src="helpimgs/EnbridgeBill_Page2.png" class="img-responsive" alt="Enbridge Bill">
      <p>Enter the information from the highlighted sections below. Note that only page 2 of the bill is required.</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <!-- thermostat threshold selection --> 
    <div class="form-group temperature">
      <label for="thermostat-threshold">At what temperature do you set your thermostat in the summer?</label>
      <div class="input-group">
        <input type="text" class="form-control" ng-model="formCtrl.thermostat_threshold_summer" required>
        <div class="input-group-addon">
          &deg;C
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label>At what temperature do you set your thermostat in the winter?</label>
      <div class="input-group">
        <input type="text" class="form-control" ng-model="formCtrl.thermostat_threshold_winter" required>
        <div class="input-group-addon">
          &deg;C
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" ng-show="(formCtrl.isElectric() || formCtrl.isGas())">
  <div class="col-md-4" ng-repeat="bill in formCtrl.bills">
    <div class="well">
      <h3>Bill {{$index + 1}}</h3>
      <!-- billing period selection --> 
      <div class="form-group date">
        <label for="billing-period"> Last day of the billing period </label>
        <div class="input-group">
          <input type="text" name="billing-period" class="form-control" ng-model="bill.end_date" required>
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-calendar"></i>
          </span>
        </div>
      </div>
      
      <script>$('.form-group.date').datepicker({
        format: "yyyy-mm-dd"
      });</script>
      
      <div ng-repeat="energy in bill.energy">
        <hr>
        <!-- Gas supply rates -->
        <div class="form-group gas-supply-rate" ng-show="formCtrl.isGas()">
          <label for="gas-supply-rate"> Total effective gas supply rate </label>
          <div class="input-group">
            <input type="text" class="form-control" ng-model="energy.rate" ng-required="formCtrl.isGas()">
            <span class="input-group-addon">
              &#162;/m<sup>3</sup>
            </span>
          </div>
        </div>
        
        <div class="form-group" ng-show="formCtrl.isGas()">
          <label> Gas used this period (adjusted) </label>
          <div class="input-group gas-used">
            <input type="text" class="form-control" ng-model="energy.amount" ng-required="formCtrl.isGas()">
            <span class="input-group-addon">m<sup>3</sup></span>
          </div>
        </div>
      
        
        <!-- hydro supply rates -->
        <div class="form-group" ng-show="formCtrl.isElectric()">
          <label> Total energy used </label>
          <div class="input-group">
            <input type="text" class="form-control" ng-model="energy.amount" ng-required="formCtrl.isElectric()">
            <span class="input-group-addon">kWh</span>
          </div>
        </div>
        
        <div class="form-group" ng-show="formCtrl.isElectric()">
          <label> Rate </label>
          <div class="input-group">
            <input type="text" class="form-control" ng-model="energy.rate" ng-required="formCtrl.isElectric()">
            <span class="input-group-addon">$/kWh</span>
          </div>
        </div>
      </div>
      <p>
      <button type="button" class="btn btn-primary" ng-click="bill.pushEnergyPair(bill.energy)" ng-show="formCtrl.isElectric()">Add tier or other rate time</button>
      </p>
      <p>
        <button type="button" class="btn btn-danger" ng-click="formCtrl.bills.splice($index,1)" ng-hide="formCtrl.bills.length<=3">Remove Bill</button>
      </p>
    </div>
  </div>
  <div class="col-md-4">
    <p>
    <button type="button" class="btn btn-info" ng-click="formCtrl.pushBill()" ng-disabled="!form.$valid">Add Bill</button>
    </p>
  </div>
  <!-- Current -->
</div>
</form>