<!DOCTYPE html>
<html ng-app="powerdown">
<head>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/datepicker3.css" />
    <link rel="stylesheet" type="text/css" href="css/animations.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Powerdown</title>
</head>
<body>
    <div class="container" ng-controller="InitialFormController as formCtrl">
      <h1><img class="img-responsive img-thumbnail" width=100px src="logo.png" alt="powerdown logo"></h1>
      <formpage class="animate-show" ng-show="formCtrl.page(1)"></formpage>
      <graphpage class="animate-show" ng-show="formCtrl.page(2)"></graphpage>
      <improvementspage class="animate-show" ng-show="formCtrl.page(3)"></improvementspage>
      <p>
        <button type="button" class="previous btn btn-default" ng-hide="formCtrl.page(1)" ng-click="formCtrl.backPage()">
          &larr; Previous Step
        </button>
        <button type="button" class="next btn btn-success pull-right" ng-hide="formCtrl.page(3) || !formCtrl.formValidated()" ng-click="formCtrl.nextPage()">Next Step &rarr;</button>
      </div>
    </p>
    <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/angular-animate.min.js"></script>
    <script type="text/javascript" src="js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="js/ChartNew.js"></script>
    <script type="text/javascript" src="get_degree_days.js"></script>
    <script type="text/javascript" src="regress.js"></script>
    
    <script type="text/javascript" src="app.js"></script>
</body>
</html>
