<!DOCTYPE html>
<html ng-app="powerdown">
<head>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Powerdown</title>
</head>
<body>
    <div class="container" ng-controller="InitialFormController as formCtrl">
      <h1>Powerdown</h1>
      <div class="alert alert-info" role="alert">
        Prepare two or more months of heating (electric or gas) bills.
      </div>
      <div class="row">
        <div class="col-md-12">
          <form role="form">
            <div class="form-group">
              <label for="building-type"> Select your residence type.</label>
              <label class="radio-inline" ng-repeat="building_type in building_types">
                <input type="radio" name="building-type" value={{building_type.id}} ng-model="formCtrl.building_type">{{building_type.name}}
              </label>
            </div>
            <div class="form-group">
              <label> Which bill would you like to analyze? </label>
              <label class="radio-inline" ng-repeat="energy_type in energy_types">
                <input type="radio" name="energy-type" value="{{energy_type.id}}" ng-model="formCtrl.energy_type"> {{energy_type.name}}
              </label>
            </div>

              Enter the last day of the period for your first bill. </br>
             <div class="input-group date">
                <input type="text" class="form-control">
                  <span class="input-group-addon">
                    <i class="glyphicon glyphicon-th"></i>
                  </span>
            </div>
              <!-- buttons at the bottom of the page -->
            <ul class="pager">
              <li class="previous disabled"><a href="regression.html">&larr; Previous Step</a></li>
              <li class="next"><a href="regression.html">Next Step &rarr;</a></li>
            </ul>
          </form>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
</body>
</html>
